h1{
    color: blue;
}
/*{
    border:solid;
}*/
.header{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
p,h2{
    text-align: center;
   
    color: red;
    font-size:large;
}
body{
    background-color:#808080;
}